<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Blog!</h1>
  <a href='/add-Post'>Add one!!</a>
  <%if (entries.length){ %>
    <% entries.forEach(entry => { %>
      <div>
        <p><%= entry.title %></p>
        <p><%= entry.content %></p>
      </div>
    <% }) %>
  <%} else {  %>
    <p>Add a post</p>
  <%} %>
  
  
</body>
</html>